@import 'variables';
@import 'compass/css3';

#amarkal-settings-form {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin-bottom: 10px;
    flex: 1 1 100%;
    
    header {
        border-radius: $border-radius $border-radius 0 0;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        
        .amarkal-settings-search {
            position: relative;
            
            input {
                padding: .4em .6em .4em 2em;
                border-radius: $border-radius;
            }
            
            .dashicons {
                position: absolute;
                left: 0;
                top: 0;
                margin: .3em;
                color: #bbb;
            }
        }
        
        #settings-search-results {
            color: #bbb;
            margin: 0 0 0 20px;
        }
    }
    
    footer {
        background-color: white;
        padding: 10px;
        border-radius: 0 0 $border-radius $border-radius;
        position: sticky;
        position: -webkit-sticky;
        bottom: 0;
        border-top: 1px solid $border-color;
        display: flex;
        align-items: center;
        
        #amarkal-settings-footer-html {
            flex: 1;
        }
        
        .amarkal-settings-button {
            padding: .5em .7em .6em;
            border: none;
            border-radius: $border-radius;
            cursor: pointer;
            outline: none;
            position: relative;
            transition: all .15s ease-out;
            
            &:hover {
                opacity: .8;
            }
            
            &+.amarkal-settings-button {
                margin-left: 10px;
            }
            
            &.primary {
                background-color: #0073aa;
                color: white;
            }
            
            &.secondary {
                background-color: #fafafa;
                box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
            }
            
            &.processing {
                padding-left: 2.4em;
                
                &::before {
                    content: "\f463";
                    font-family: dashicons;
                    font-weight: 400;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 1.5em;
                    opacity: .7;
                    position: absolute;
                    left: .3em;
                    top: .25em;
                    animation: rotate .5s infinite;
                }
            }
        }
    }
}

@include keyframes(rotate) {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(180deg);
    }
}