@import 'variables';

.amarkal-settings-header {
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    
    .header-left {
        flex: 0 0 $sidebar-width;
        background-color: white;
        padding: 10px 0;
        border-right: 5px solid #f1f1f1;
        justify-content: center;
        display: flex;
        flex-direction: column;

        h2 {
            color: black;
            text-transform: uppercase;
            margin: 0 10px;
            font-size: 1em;
        }
        
        p {
            color: #9ea3a8;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: .7em;
            margin: 10px 10px 0;
        }
    }

    .header-right {
        background-color: white;
        flex: 1;
        padding: 15px 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        #amarkal-settings-sec-title {
            margin: 0;
            font-size: 1.5em;
        }

        #amarkal-settings-sec-subtitle {
            margin-top: 8px;
            color: #9ea3a8;
            font-style: italic;
        }
    }
}